{{extend 'layout.html'}}
<p>Editar persona</p>
<form method="POST">
    ID: {{=row_persona.id}}
    <input type="text" name="nombre" value="{{=row_persona.nombre}}">
    <input type="submit" value="Actualizar">
</form>
