{{extend 'layout.html'}}
<p>Crear viaje</p>
<form method="POST">
    <select name="persona_id">
        {{for row in rows_persona:}}
        <option value="{{=row.id}}">{{=row.nombre}}</option>
        {{pass}}
    </select>
    <input type="submit" value="guardar">
</form>
