{{extend 'layout.html'}}
<p>Editar viaje</p>
<form method="POST">
    ID: {{=row_viaje.id}}
    <select name="persona_id" id="persona_id">
        {{for row in rows_persona:}}
        <option value="{{=row.id}}">{{=row.nombre}}</option>
        {{pass}}
    </select>
    <input type="submit" value="Actualizar">
</form>
<script type="text/javascript">
    $(document).ready(function () {
        $("#persona_id").val({{=row_viaje.persona_id}});
    });
</script>
