{{extend 'layout.html'}}
<a href="{{=URL('viaje', 'crear')}}">Crear</a>
<table style="padding: 10px;">
    <thead style="background-color: #ccc;">
        <th style="padding: 5px;">Persona</th>
        <th style="padding: 5px;">Fecha</th>
        <th style="padding: 5px;">Opción</th>
    </thead>
    <body>
        {{for row in rows:}}
        <tr>
            <td style="padding: 5px;">{{=row.persona_id.nombre}}</td>
            <td style="padding: 5px;">{{=row.fecha}}</td>
            <td style="padding: 5px;">
                <a href="{{=URL('viaje', 'editar', args=row.id)}}">Editar</a>
                <a href="javascript:eliminar({{=row.id}});">Eliminar</a>
            </td>
        </tr>
        {{pass}}
    </body>
</table>
<script type="text/javascript">
    function eliminar(viaje_id) {
        console.log(viaje_id);
        $.ajax({
            url : "{{=URL('viaje', 'eliminar')}}",
            type : 'POST',
            data : {viaje_id : viaje_id},
            success:function(response) {
                console.log('Registro eliminado.');
                location.reload();
            }
        });
    }
</script>
