<!DOCTYPE html>
  <head>
    <title>Oxxo</title>
      <script src="//code.jquery.com/jquery-1.10.2.js"></script>
      <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  </head>
  <body>
      <h3><a href="{{=URL('persona', 'index')}}">Persona</a></h3>
      <h3><a href="{{=URL('viaje', 'index')}}">Viaje</a></h3>
      <h3><a href="{{=URL('producto', 'index')}}">Producto</a></h3>
      <h3><a href="{{=URL('pedido', 'index')}}">Pedido</a></h3>
      <h3><a href="{{=URL('detalle_pedido', 'index')}}">Detalle de Pedido</a></h3>
      {{include}}
  </body>
</html>
