{{extend 'layout.html'}}
<p>Crear pedido</p>
<form method="POST">
    Viaje:
    <select name="viaje_id">
        {{for row in rows_viaje:}}
        <option value="{{=row.id}}">{{=row.persona_id.nombre}}</option>
        {{pass}}
    </select>
    Persona:
    <select name="persona_id">
        {{for row in rows_persona:}}
        <option value="{{=row.id}}">{{=row.nombre}}</option>
        {{pass}}
    </select>
    Monto:
    <input type="text" name="monto">
    Comision:
    <input type="text" name="comision">
    <input type="submit" value="guardar">
</form>
