{{extend 'layout.html'}}
<p>Editar pedido</p>
<form method="POST">
    ID: {{=row_pedido.id}}
    Viaje:
    <select name="viaje_id" id="viaje_id">
        {{for row in rows_viaje:}}
        <option value="{{=row.id}}">{{=row.persona_id.nombre}}</option>
        {{pass}}
    </select>
    Persona:
    <select name="persona_id" id="persona_id">
        {{for row in rows_persona:}}
        <option value="{{=row.id}}">{{=row.nombre}}</option>
        {{pass}}
    </select>
    Monto:
    <input type="text" name="monto" value="{{=row_pedido.monto}}">
    Comision:
    <input type="text" name="comision" value="{{=row_pedido.comision}}">
    <input type="submit" value="Actualizar">
</form>
<script type="text/javascript">
    $(document).ready(function () {
        $("#viaje_id").val({{=row_pedido.viaje_id}});
        $("#persona_id").val({{=row_pedido.persona_id}});
    });
</script>
