{{extend 'layout.html'}}
<a href="{{=URL('pedido', 'crear')}}">Crear</a>
<table style="padding: 10px;">
    <thead style="background-color: #ccc;">
        <th style="padding: 5px;">Viaje (quien va)</th>
        <th style="padding: 5px;">Persona</th>
        <th style="padding: 5px;">Monto</th>
        <th style="padding: 5px;">Comisión</th>
        <th style="padding: 5px;">Importe neto</th>
        <th style="padding: 5px;">Opción</th>
    </thead>
    <body>
        {{for row in rows:}}
        <tr>
            <td style="padding: 5px;">{{=row.viaje_id.persona_id.nombre}}</td>
            <td style="padding: 5px;">{{=row.persona_id.nombre}}</td>
            <td style="padding: 5px;">{{=row.monto}}</td>
            <td style="padding: 5px;">{{=row.comision}}</td>
            {{importe = db(db.detalle_pedido.pedido_id == row.id).select(db.detalle_pedido.costo.sum()).first()}}
            <td style="padding: 5px;">{{=importe._extra['SUM(detalle_pedido.costo)']}}</td>
            <td style="padding: 5px;">
                <a href="{{=URL('pedido', 'editar', args=row.id)}}">Editar</a>
                <a href="javascript:eliminar({{=row.id}});">Eliminar</a>
            </td>
        </tr>
        {{pass}}
    </body>
</table>
<script type="text/javascript">
    function eliminar(pedido_id) {
        console.log(pedido_id);
        $.ajax({
            url : "{{=URL('pedido', 'eliminar')}}",
            type : 'POST',
            data : {pedido_id : pedido_id},
            success:function(response) {
                console.log('Registro eliminado.');
                location.reload();
            }
        });
    }
</script>
