{{extend 'layout.html'}}
<p>Crear producto</p>
<form method="POST">
    Descripcion
    <input type="text" name="descripcion">
    Precio:
    <input type="text" name="precio">
    <input type="submit" value="guardar">
</form>
