{{extend 'layout.html'}}
<p>Editar producto</p>
<form method="POST">
    ID: {{=row_producto.id}}
    <input type="text" name="descripcion" value="{{=row_producto.descripcion}}">
    <input type="text" name="precio" value="{{=row_producto.precio}}">
    <input type="submit" value="Actualizar">
</form>
