{{extend 'layout.html'}}
<a href="{{=URL('producto', 'crear')}}">Crear</a>
<table style="padding: 10px;">
    <thead style="background-color: #ccc;">
        <th style="padding: 5px;">Descripcion</th>
        <th style="padding: 5px;">Precio</th>
        <th style="padding: 5px;">Opción</th>
    </thead>
    <body>
        {{for row in rows:}}
        <tr>
            <td style="padding: 5px;">{{=row.descripcion}}</td>
            <td style="padding: 5px;">{{=row.precio}}</td>
            <td style="padding: 5px;">
                <a href="{{=URL('producto', 'editar', args=row.id)}}">Editar</a>
                <a href="javascript:eliminar({{=row.id}});">Eliminar</a>
            </td>
        </tr>
        {{pass}}
    </body>
</table>
<script type="text/javascript">
    function eliminar(producto_id) {
        console.log(producto_id);
        $.ajax({
            url : "{{=URL('producto', 'eliminar')}}",
            type : 'POST',
            data : {producto_id : producto_id},
            success:function(response) {
                console.log('Registro eliminado.');
                location.reload();
            }
        });
    }
</script>
