{{extend 'layout.html'}}
<p>Crear detalle_pedido</p>
<form id="myForm" method="POST">
    Pedido:
    <select name="pedido_id">
        {{for row in rows_pedido:}}
        <option value="{{=row.id}}">{{=row.persona_id.nombre}}</option>
        {{pass}}
    </select>
    Producto:
    <select name="producto_id" id="producto_id">
        {{for row in rows_producto:}}
        <option value="{{=row.id}}">{{=row.descripcion}}</option>
        {{pass}}
    </select>
    Cantidad:
    <input type="text" name="cantidad" id="cantidad">
    Costo:
    <input type="text" name="costo" id="costo" readonly>
    Comprado:
    <input type="radio" name="comprado" value="si" checked>si
    <input type="radio" name="comprado" value="no">no
    <input type="submit" value="guardar">
</form>
<script type="text/javascript">
    $("#cantidad").keyup(function () {
        calculaCosto();
    });
    function calculaCosto() {
        var cantidad = parseInt($("#cantidad").val());
        var producto_id = parseInt($("#producto_id").val());
        if ($("input[name=comprado]:checked", "#myForm").val() == "si") {
            $.ajax({
                url : "{{=URL('detalle_pedido', 'calcularCosto')}}",
                type : 'POST',
                data : {cantidad : cantidad, producto_id : producto_id},
                success:function(response) {
                    var json = $.parseJSON(response);
                    if (json) {
                        $("#costo").val(json.costo);
                    }
                }
            });
        } else {
            return false;
        }
    }
</script>
