{{extend 'layout.html'}}
<p>Editar detalle_pedido</p>
<form id="myForm" method="POST">
    ID: {{=row_detalle_pedido.id}}
    Pedido:
    <select name="pedido_id">
        {{for row in rows_pedido:}}
        <option value="{{=row.id}}" {{=XML('selected') if row.id == row_detalle_pedido.pedido_id else ''}} >{{=row.persona_id.nombre}}</option>
        {{pass}}
    </select>
    Producto:
    <select name="producto_id" id="producto_id">
        {{for row in rows_producto:}}
        <option value="{{=row.id}}" {{=XML('selected') if row.id == row_detalle_pedido.producto_id else ''}} >{{=row.descripcion}}</option>
        {{pass}}
    </select>
    Cantidad:
    <input type="text" name="cantidad" id="cantidad" value="{{=row_detalle_pedido.cantidad}}">
    Costo:
    <input type="text" name="costo" id="costo" readonly value="{{=row_detalle_pedido.costo}}">
    Comprado:
    <input type="radio" name="comprado" value="si" {{=XML('checked') if row_detalle_pedido.comprado else ''}} >si
    <input type="radio" name="comprado" value="no" {{=XML('checked') if not row_detalle_pedido.comprado else ''}} >no
    <input type="submit" value="Actualizar">
</form>
<script type="text/javascript">
    $("#cantidad").keyup(function () {
        calculaCosto();
    });
    function calculaCosto() {
        var cantidad = parseInt($("#cantidad").val());
        var producto_id = parseInt($("#producto_id").val());
        console.log("cantidad: " + cantidad);
        console.log("producto_id: " + producto_id);
        if ($("input[name=comprado]:checked", "#myForm").val() == "si") {
            $.ajax({
                url : "{{=URL('detalle_pedido', 'calcularCosto')}}",
                type : 'POST',
                data : {cantidad : cantidad, producto_id : producto_id},
                success:function(response) {
                    var json = $.parseJSON(response);
                    if (json) {
                        $("#costo").val(json.costo);
                    }
                }
            });
        } else {
            return false;
        }
    }
</script>
