{{extend 'layout.html'}}
<a href="{{=URL('detalle_pedido', 'crear')}}">Crear</a>
<table style="padding: 10px;">
    <thead style="background-color: #ccc;">
        <th style="padding: 5px;">Viaje (quien va)</th>
        <th style="padding: 5px;">Pedido</th>
        <th style="padding: 5px;">Producto</th>
        <th style="padding: 5px;">Cantidad</th>
        <th style="padding: 5px;">Costo</th>
        <th style="padding: 5px;">Comprado</th>
        <th style="padding: 5px;">Opción</th>
    </thead>
    <body>
        {{for row in rows:}}
        <tr>
            <td style="padding: 5px;">{{=row.pedido_id.viaje_id.persona_id.nombre}}</td>
            <td style="padding: 5px;">{{=row.pedido_id.persona_id.nombre}}</td>
            <td style="padding: 5px;">{{=row.producto_id.descripcion}}</td>
            <td style="padding: 5px;">{{=row.cantidad}}</td>
            <td style="padding: 5px;">{{=row.costo}}</td>
            <td style="padding: 5px;">{{="Si" if row.comprado else "No"}}</td>
            <td style="padding: 5px;">
                <a href="{{=URL('detalle_pedido', 'editar', args=row.id)}}">Editar</a>
                <a href="javascript:eliminar({{=row.id}});">Eliminar</a>
            </td>
        </tr>
        {{pass}}
    </body>
</table>
<script type="text/javascript">
    function eliminar(detalle_pedido_id) {
        console.log(detalle_pedido_id);
        $.ajax({
            url : "{{=URL('detalle_pedido', 'eliminar')}}",
            type : 'POST',
            data : {detalle_pedido_id : detalle_pedido_id},
            success:function(response) {
                console.log('Registro eliminado.');
                location.reload();
            }
        });
    }
</script>
